// Fonts
@import url(https://fonts.googleapis.com/css?family=Shantell+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

$font-main: "Shantell Sans";

// Colors
$main-color: #132f63;
$background-color: linear-gradient(#bbb, transparent 1px),
  linear-gradient(90deg, #bbb, transparent 1px) #ebeaea;
$white-color: #fff;
$second-color: #ebeaea;
